<h1><%= user.firstname %>'s Repositories</h1>

<% if (repos) {%>
    <h2>Page <%=page%></h2>
    <table class="table striped">
        <thead>
            <th>Repo Name</th>
            <th>Language</th>
            <th>Created On</th>
            <th>Last Update</th>
        </thead>
        <tbody>
            <%repos.forEach(repo => {%>
            <tr>
                <td>
                    <a href="<%=repo.html_url%>">
                    <%=repo.name%>
                    </a>
                </td>
                <td><%=repo.language%></td>
                <td><%=repo.created_at%></td>
                <td><%=repo.updated_at%></td>
            </tr>
            <%})%>
        </tbody>
    </table>

    <% if (page > 1) {%>
        <a href="/profile/repos?page=<%=page - 1%>">&larr; Prev Page</a>
    <%}%>
    <a href="/profile/repos?page=<%=page + 1%>"> Next Page &rarr;</a>

<%} else {%>
    <h2>No repos to display</h2>
<%}%>