<h1 class="text-secondary">Results for: <span class="text-dark"><%=search%></span> </h1>

<!-- FOR TESTING W/ NO API -->
<!-- <form method="GET" action="/recipes/search/result">
    <input type="submit" value="View">
</form> -->
<!-- FOR TESTING W/ NO API -->


<% if(recipes) {%>
<div class="container">
    <% recipes.forEach(recipe => { %>


        <div class="card mb-3" style="max-width: 640px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="<%=recipe.recipe.image%>" class="card-img img-fluid" alt="<%= recipe.recipe.label %>-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= recipe.recipe.label %></h5>
                        <p class="card-text"><%= recipe.recipe.source %></p>
                        <form method="GET" action="/recipes/search/result">
                            <input type="hidden" name="url" value="<%= recipe.recipe.uri %>">
                            <input type="submit" class="btn btn-dark" value="View">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        

        
    <% }) %>
</div>
<%}%>