<% let cookPrepTime = recipe.totalTime ? recipe.totalTime : time %>

<h1><%= recipe.label %></h1>
<h3 class="source"><a class="text-info" href="<%= recipe.url %>"><%= recipe.source %></a></h3>

<ul class="list-group list-group-horizontal mb-3">
    <li class="list-group-item">
    <% for (let x=0; x < recipe.yield; x++) {%>
            <i class="fas fa-user"></i>
            <%}%>
        Serves <strong><%=recipe.yield%></strong> ppl
    </li>
  <li class="list-group-item"><i class="fas fa-clock"></i> Ready in <strong><%= cookPrepTime %></strong> minutes</li>
  <li class="list-group-item"><i class="fas fa-heart"></i><strong> <%=Math.floor(recipe.calories)%></strong> calories</li>
</ul>


<div class="row">
    <div class="col-sm one-recipe-img">
        <img class="img-fluid p-2" src="<%=recipe.image %>">
    </div>

    <div class="col-8 ingredients">
        <h4>Ingredients</h4>
        <% recipe.ingredients.forEach(ingredient => {%>
            <p><%=ingredient.text%></p>
        <%})%>
    </div>    
</div>

<div class="container">
    <h4>Instructions</h4>
    <% instructionsObj[0].steps.forEach(step => {%>
        <p><%=step.number%>. <%=step.step%></p>
    <%})%>
</div>




<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
  Save Recipe
</button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">How would you like to categorize this recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="save-form" method="POST" action="/recipes">
            <input type="hidden" name="title" value="<%= recipe.label %>">
            <input type="hidden" name="source" value="<%= recipe.source %>">
            <input type="hidden" name="sourceUrl" value="<%= recipe.url %>">
            <input type="hidden" name="imageUrl" value="<%= recipe.image %>">
            <input type="hidden" name="time" value="<%= cookPrepTime %>">
            <input type="hidden" name="servings" value="<%= recipe.yield %>">
            <input type="hidden" name="ingredients" value="<%= JSON.stringify(recipe.ingredients) %>">
            <input type="hidden" name="instructionsText" value="<%= instructionsText %>">
            <input type="hidden" name="instructions" value="<%= JSON.stringify(instructionsObj)%>">
            <input type="hidden" name="types" value="<%= JSON.stringify(types) %>">
            <input type="hidden" name="diet" value="<%= JSON.stringify(recipe.dietLabels) %>">
            <input type="hidden" name="health" value="<%= JSON.stringify(recipe.healthLabels) %>">
            <input type="hidden" name="calories" value="<%= recipe.calories %>">

            <div id="add-categories">
                
                <% if (categories.length) {%>
                    <p>Choose from existing categories:</p>
                    
                    <% categories.forEach(category => { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="existing_categories" value="<%=category.name%>" id="<%=category.name%>">
                            <label class="form-check-label" for="<%=category.name%>"><%=category.name%></label>
                        </div>
                    <% }) %>

                    <p>Or add new categories:</p>

                <%} else {%>
                <p><i>You don't have any categories stored yet, start by adding below!</i></p>
                <%}%>
            
                <label>Add new categories, separated by commas:</label>
                <textarea class="form-control" name="new_categories" placeholder="i.e. breakfast, lunch, spicy, tailgate, etc. "></textarea>
                <br>
            </div>

            <input type="submit" id="submit-btn" class="btn btn-danger" value="Save Recipe">
        </form>
      </div>
    </div>
  </div>
</div>