<% if(!recipe) {%>
    <h2>Sorry, we couldn't find that recipe. You can add the information manually below, or go back and try another search!</h2>
<%} else {%>

<h2>Sweet success! We found your recipe for <%=recipe.title%>.</h2>
<p>Here's what we found. Click save if you'd like to save to your saved recipes.</p>

<div class="bg-light recipe-background">
<h1><%= recipe.title %></h1>
<h3 class="source"><a class="text-info" href="<%= recipe.sourceUrl %>" target="_blank"><%= recipe.source %></a></h3>

<ul class="list-group list-group-horizontal mb-3">
    <li class="list-group-item">
    <% for (let x=0; x < recipe.servings; x++) {%>
            <i class="fas fa-user"></i>
            <%}%>
        Serves <strong><%=recipe.servings%></strong> ppl
    </li>
  <li class="list-group-item"><i class="fas fa-clock"></i> Ready in <strong><%= recipe.time %></strong> minutes</li>
</ul>


<div class="row">
    <div class="col-sm one-recipe-img">
        <img class="img-fluid p-2" src="<%=recipe.imageUrl %>">
    </div>

    <div class="col-8 ingredients">
        <h4>Ingredients</h4>
        <% if(recipe.ingredientsObj.length) {%>
          <% recipe.ingredientsObj.forEach(ingredient => {%>
              <p><%=ingredient.text%></p>
          <%})%>
        <%} else {%>
            <p>No ingredients available, please visit <a href="<%=recipe.sourceUrl%>" target="_blank"><%= recipe.source %></a> for more information.</p>
        <%}%>

    </div>    
</div>

<div class="container">
    <h4>Instructions</h4>
    <% if (recipe.instructionsText) {%>
        <p><%=recipe.instructionsText%></p>
    <%} else {%>
        <p>No instructions available, please visit <a href="<%=recipe.sourceUrl%>" target="_blank"><%= recipe.source %></a> for more information.</p>
    <%}%>
</div>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#saveRecipeModal">
  Save Recipe
</button>

<div class="modal fade" id="saveRecipeModal" tabindex="-1" role="dialog" aria-labelledby="saveRecipeModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveRecipeModalTitle">How would you like to categorize this recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="save-form" method="POST" action="/recipes">
            <input type="hidden" name="title" value="<%= recipe.title ? recipe.title : 'null' %>">
            <input type="hidden" name="source" value="<%= recipe.source ? recipe.source : 'null' %>">
            <input type="hidden" name="sourceUrl" value="<%= recipe.sourceUrl ? recipe.sourceUrl : 'null' %>">
            <input type="hidden" name="imageUrl" value="<%= recipe.imageUrl ? recipe.imageUrl : 'null' %>">
            <input type="hidden" name="time" value="<%= recipe.time ? Math.ceil(recipe.time) : null %>">
            <input type="hidden" name="servings" value="<%= recipe.servings ? Math.floor(recipe.servings) : null %>">
            <input type="hidden" name="ingredients" value="<%= recipe.ingredientsObj.length ? JSON.stringify(recipe.ingredientsObj) : 'null' %>">
            <input type="hidden" name="instructionsText" value="<%= recipe.instructionsText ? recipe.instructionsText : 'null' %>">
            <input type="hidden" name="types" value="<%= recipe.dishTypes.length ? JSON.stringify(recipe.dishTypes) : 'null' %>">
            <input type="hidden" name="diet" value="<%= recipe.dietLabels.length ? JSON.stringify(recipe.dietLabels) : 'null' %>">
            <input type="hidden" name="health" value="<%= recipe.healthLabels.length ? JSON.stringify(recipe.healthLabels.length) : 'null' %>">
            

            <div id="add-categories">
                
                <% if (categories.length) {%>
                    <p>Choose from existing categories:</p>
                    
                    <% categories.forEach(category => { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="existing_categories" value="<%=category.name%>" id="<%=category.name%>">
                            <label class="form-check-label" for="<%=category.name%>"><%=category.name%></label>
                        </div>
                    <% }) %>

                <%} else {%>
                <p><i>You don't have any categories stored yet, start by adding below!</i></p>
                <%}%>
                <br>
                <label>Add new categories, separated by commas:</label>
                <textarea class="form-control" name="new_categories" placeholder="i.e. breakfast, lunch, spicy, tailgate, etc. "></textarea>
                <br>
            </div>

            <input type="submit" id="submit-btn" class="btn btn-danger" value="Save Recipe">
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<%}%>