<h1 class="text-secondary">Your <span class="text-dark"><%=category.name%></span> recipes </h1>


<div class="row mb-1 ml-1">
  <form action="/categories/<%=category.id%>/?_method=DELETE" method="POST">
      <input class="btn btn-secondary m-1" type="submit" value="Delete Category">
      <!--<small class="form-text text-muted">Any recipes associated with this category will still remain in your saved recipes library.</small>-->
  </form>

  <button type="button" class="btn btn-secondary m-1" data-toggle="modal" data-target="#exampleModalLong">
  Edit Category
  </button>
</div>


<%if(!recipes.length){%>
    <p>No recipes saved in this category currently</p>
<%} else {%>

    <% recipes.forEach(recipe => { %>
        <div class="card mb-3" style="max-width: 640px; max-height:200px;">
            <div class="row no-gutters">
              
              <div class="col-md-4">
                    <img src="<%=recipe.imageUrl%>" class="card-img img-fluid" alt="<%= recipe.title %>-img" style="max-width: 300px; max-height: 200px;">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= recipe.title ? recipe.title : "info unavailable" %></h5>
                        <p class="card-text"><%= recipe.source && recipe.source != 'null' ? recipe.source : "info unavailable" %></p>
                        <div class="row">
                          <a href="/recipes/<%= recipe.id%>" class="btn btn-danger col-4 ml-2">View Full Recipe</a>
                          <form class="col-sm" action="/categories/<%=category.id%>/remrec/?_method=DELETE" method="POST">
                              <input type="hidden" name="id" value="<%=recipe.id%>">
                              <button class="btn btn-secondary" type="submit">Remove from "<%=category.name%>"</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>

<%}%>




<!--MODAL-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit category name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="save-form" method="POST" action="/categories/<%=category.id%>/?_method=PUT">
         
                <input id="categoryNameEdit" name="name" type="text" value="<%=category.name%>">
            
            <input type="submit" id="submit-btn" class="btn btn-danger" value="Update Category">
        </form>
      </div>
    </div>
  </div>
</div>
</div>
