<div class="bg-light recipe-background">
<%if(recipeWasCreated && recipeWasCreated === 'false') {%>
    <p>FYI: You already had this recipe saved! But we've added it to any new categories you might have included this time.</p>
<%}%>

<div class="row">
    <h1 class="col-10"><%= recipe.title != 'null' ? recipe.title : "unavailable" %></h1>

    <form action="/recipes/<%=recipe.id%>/?_method=DELETE" class="col-sm" method="POST">
        <input type="submit" class="btn btn-success" value="Delete Recipe">
    </form>
</div>

<h3 class="source"><a class="text-info" href="<%= recipe.sourceUrl %>" target="_blank"><%= recipe.source %></a></h3>

<ul class="list-group list-group-horizontal mb-3">
    <li class="list-group-item">
    <% for (let x=0; x < recipe.servings; x++) {%>
            <i class="fas fa-user"></i>
            <%}%>
        Serves <strong><%=recipe.servings%></strong> ppl
    </li>
  <li class="list-group-item"><i class="fas fa-clock"></i> Ready in <strong><%= recipe.time %></strong> minutes</li>
  <li class="list-group-item"><i class="fas fa-heart"></i><strong> <%=Math.floor(recipe.calories)%></strong> calories</li>
</ul>


<div class="row">
    <div class="col-sm one-recipe-img">
        <img class="img-fluid p-2" src="<%=recipe.imageUrl %>">
    </div>

    <div class="col-8 ingredients">
        <h4>Ingredients</h4>
        <% if(recipe.ingredientsObj != 'null') {%>
            <% let ingredients = JSON.parse(recipe.ingredientsObj) %>
            <% ingredients.forEach(ingredient => {%>
                <p><%=ingredient.text%></p>
        <%})%>
        <%} else {%>
            <p>No ingredients available, please visit <a href="<%=recipe.sourceUrl%>" target="_blank"><%= recipe.source %></a> for more information.</p>
        <%}%>
    </div>    
</div>

<div class="container">
    <h4>Instructions</h4>
    <% if(recipe.instructionsObj != 'null') {%>
        <% console.log(recipe.instructionsObj != 'null')%>
        <% let instructions = JSON.parse(recipe.instructionsObj) %>
        <% instructions[0].steps.forEach(step => {%>
            <p><%=step.number%>. <%=step.step%></p>
        <%})%>
    <%} else if (recipe.instructionsObj != 'null' && recipe.instructionsText) {%>
        <p><%=recipe.instructionsText%></p>

    <%} else {%>
        <p>No instructions available, please visit <a href="<%=recipe.sourceUrl%>" target="_blank"><%= recipe.source %></a> for more information.</p>
    <%}%>

</div>

<% if(categories.length) {%>
    <%categories.forEach(category => {%>
       <a class="btn btn-info" href="/categories/<%=category.id%>"> <%=category.name%> </a>
    <%})%>
    </ul>
<%}%>
</div>